body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#screenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#gameContainer {
    aspect-ratio: 1;
    width: 90vmin;
    height: 90vmin;
    padding: 0;
    margin: 0;
    outline: 2px solid grey;
}

canvas:focus {
    outline: none;
}