* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
}

#screenContainer {
    display: flex;
    justify-content: center;
}

#gameContainer {
    aspect-ratio: 1;
    width: 100vmin;
    height: 100vmin;
    vertical-align: top;
}

canvas:focus {
    outline: none;
    vertical-align: top;
}